.communitySection {
  padding-bottom: 50px;
}

.swiperList {
  padding: 0 0 0 calc(100% / 12);
  margin-top: 30px;
  height: 140px;
  width: 100%;
  overflow: hidden;
  margin-right: -40px;
  position: relative;
}

.swiperItem {
  margin-right: 40px;
  background-color: #f6f7f9;
  height: 100%;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperItem__img {
  width: 171px;
  margin: 0 auto;
}
.communitySection {
  padding-bottom: 50px;
}

.swiperList {
  padding: 0 0 0 calc(100% / 12);
  margin-top: 30px;
  height: 140px;
  width: 100%;
  overflow: hidden;
  margin-right: -40px;
  position: relative;
}

.swiperItem {
  margin-right: 40px;
  background-color: #f6f7f9;
  height: 100%;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperItem__img {
  width: 171px;
  margin: 0 auto;
}
