.readmore {
  text-align: right;
}

.readmore a {
  color: #4b3c50;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.readmore i {
  margin-left: 5px;
}
