.favorWrapper {
  padding: 30px 0;
}

.functionalBar {
  display: flex;
  padding: 15px 0;

  &__filterBox {
    display: flex;
  }

  &__filterItem {
    margin-right: 20px;
  }
}

.searchForm {
  margin-right: auto;

  & input {
    padding: 6px 12px 5px 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    width: 195px;
    color: #8a97ac;
    font-size: 12px;
    line-height: 14px;
  }

  & span {
    margin: 0 9px;
    line-height: 32px;
    color: #d9dee5;
  }

  & button {
    border: 0;
    background-color: inherit;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    color: #4b3c50;
    font-size: 14px;
    line-height: 14px;
    height: 34px;
  }
}
